<body id="home">
		<div class="rain">
			<div class="border start">
<% if @blender.errors.any? or (@blender.recipe && @blender.recipe.errors.any?)%>
    <div id="error_explanation">
      <h2><%= pluralize(@blender.errors.count, "error") %> prohibited this blender from being saved:</h2>

      <ul>
      <% @blender.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @blender.recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<%= form_for(@blender) do |f| %>
  
  
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>  
  <div class="field">
    <%= f.label :blending_ingredients %>
    <%= f.text_area :blending_ingredients, {:cols => 60, :rows => 10} %>
  </div>  
  <div class="field">
    <%= f.label :blending_text %>
    <%= f.text_area :blending_text, {:cols => 60, :rows => 10} %>
  </div>
  <table class="">
    <tr>
      <td><%= f.label :time %><td>
      <td><%= f.label :many_ppl %></td>
    </tr>
    <tr>
      <td><%= f.number_field :time %><td>
      <td><%= f.number_field :many_ppl %></td>
    </tr>    
  </table>  
  <table class="" border=0 width='650px' style="padding-left: 10px;">
  <tr>
    <td><%= f.label :category %><td>
    <td><%= f.label :difficulty %> </td>
  </tr>
  <tr>
    <td><%= f.collection_select :category, Category.all, :id, :name %><td>
    <td >
      <div class="field"> 
        <div style="float:left">easy<%= f.radio_button :difficulty, "easy", :checked => true%></div>
        <div style="float:left">medium<%= f.radio_button :difficulty, "medium" %></div>
        <div style="float:left">hardcore<%= f.radio_button :difficulty, "hardcore" %></div>
      </div>
    </td>
  </tr>    
  </table>



 
		</div>
		<div >
  <%= f.submit "Blend" %>
</div>
  </div>
</body>
	 
<% end %>
