<h1>le FoodGenie</h1>
<%= form_for(@genie_search_form) do |f| %>

  
  <% if !@genie_search_form.nil? && @genie_search_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@genie_search_form.errors.count, "error") %> prohibited search to finnish:</h2>

      <ul>
      <% @genie_search_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    easy<%= f.radio_button :effort_id, 1 %>
    medium<%= f.radio_button :effort_id, 2 %>
    hard<%= f.radio_button :effort_id, 3 %>
  </div>

  <div>
    dessert<%= f.radio_button :category, 1, :checked => true %>
    dish<%= f.radio_button :category, 2  %>
    entrance<%= f.radio_button :category, 3 %>
  </div>

  <div>
    short<%= f.radio_button :time, 15%>
    medium<%= f.radio_button :time, 40, :checked => true%>
    long<%= f.radio_button :time, 9999%>
  </div>
  
  <div class="form-wrapper">
    <div id="search"><%= text_field :search, :search_text, :placeholder => "text"%></div>
    <div id="submit"><%= submit_tag "go", :name => nil %></div>
  </div>  

<% end %>


