<h1>BlenderIndex#blend</h1>
<p>Will it blend ?</p>



<%= form_tag blender_blend_path, :method => 'get' do %>

<div>
  <label>Recipe title</label>
  <%= text_field :blender, :recipe_title %>
</div>

<div>
  <label>Ingredients</label>
  <%= text_area :blender, :blending_ingredients, {:cols => 60, :rows => 10} %>
</div>
<div>
  <label>Text</label>
  <%= text_area :blender, :blending_text, {:cols => 60, :rows => 10} %>
</div>

Difficulty:
<div>
  easy<%= radio_button :blender, :difficulty, 'easy', :checked => true%>
  medium<%= radio_button :blender, :difficulty, 'medium' %>
  hardcore<%= radio_button :blender, :difficulty, 'hardcore' %>
</div>

Category:
<div>
  dessert<%= radio_button :blender, :category, 1 %>
  dish<%= radio_button :blender, :category, 2, :checked => true %>
  entrance<%= radio_button :blender, :category, 3 %>
</div>

Time:
<div>
  <%= text_field :blender, :time %>
</div>
<div>
  <label>Many ppl?</label>
  <%= text_field :blender, :many_ppl %>
</div>


<%= submit_tag "Blend!", :name => "blend" %>
  

<% end %>

