<h1>Listing food_measures</h1>

<table>
  <tr>
    <th>Food item</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @food_measures.each do |food_measure| %>
  <tr>
    <td><%= food_measure.food_item_id %></td>
    <td><%= food_measure.quantity %></td>
    <td><%= link_to 'Show', food_measure %></td>
    <td><%= link_to 'Edit', edit_food_measure_path(food_measure) %></td>
    <td><%= link_to 'Destroy', food_measure, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Food measure', new_food_measure_path %>
