<h1>Welcome to the AMAZING Food-Genie</h1>
<%= form_tag food_genie_search_path, :method => 'get' do %>

<div>
  easy<%= radio_button :search_options, :difficulty, "easy", :checked => true%>
  medium<%= radio_button :search_options, :difficulty, "medium" %>
  hard<%= radio_button :search_options, :difficulty, "hard" %>
</div>

<div>
  dessert<%= radio_button :search_options, :category, 1, :checked => true %>
  dish<%= radio_button :search_options, :category, 2  %>
  entrance<%= radio_button :search_options, :category, 3 %>
</div>

<div>
  short<%= radio_button :search_options, :time, 25 %>
  medium<%= radio_button :search_options, :time, 80, :checked => true %>
  long<%= radio_button :search_options, :time, 120 %>
</div>
  
<div class="form-wrapper">
  <div id="search"><%= autocomplete_field :ingredient, :food_item_name,  food_items_path, :placeholder => "text"%></div>
  <div id="submit"><%= submit_tag "Search", :name => nil %></div>
</div>



  

<% end %>


