<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :many_ppl %><br />
    <%= f.text_field :many_ppl %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br />
    <%= f.text_field :difficulty %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text, {:cols => 60, :rows => 10} %>
  </div>
  <!--<div class="field">
    <%#= f.label :extra_content %><br />
    <%#= f.text_field :extra_content %>
  </div>-->
  
  <table>
  <% @recipe.ingredients.each do |ingredient| %>
  <tr>
    <td><%= collection_select :ingredient, :food_item_id, FoodItem.all, :id, :name, :selected => ingredient.food_item.id %></td>
    <td><%= text_field :ingredient, :category_id, :value => ingredient.quantity %></td>
    <td><%= link_to "Destroy", ingredient, :remote => true, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  
<% end %>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
