<div>
	<fieldset>
		<%= f.fields_for :food_item %>
		<%= f.label :quantity, "Quantity" %><br />
		<%= f.text_field :quantity %><br />
		<%= f.label :measure, "Measure/Units" %><br />
		<%= f.text_field :measure %><br />
		<p><%= f.link_to_add "Add Item", :food_item %></p>
		<%= f.link_to_remove "Remove this ingredient" %>
	</fieldset>
</div>
