<p id="notice"><%= notice %></p>

<p>
  <b>Query:</b>
  <%= @watcher.query %>
</p>

<p>
  <b>Time:</b>
  <%= @watcher.time %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @watcher.difficulty %>
</p>

<p>
  <b>Category:</b>
  <%= @watcher.category %>
</p>

<p>
  <b>Many ppl:</b>
  <%= @watcher.many_ppl %>
</p>

<p>
  <b>Who:</b>
  <%= @watcher.who %>
</p>


<%= link_to 'Edit', edit_watcher_path(@watcher) %> |
<%= link_to 'Back', watchers_path %>
